{% extends 'base.html' %}
{% block content %}
</h1>Acerca de mí</h1>
<h2>¡Hola! Soy Kevin Romero, un apasionado lector y escritor argentino nacido y criado en Buenos Aires. Desde joven, la literatura ha sido mi refugio y mi forma de explorar el mundo. A través de este blog, comparto mis reseñas, reflexiones y recomendaciones sobre los libros que han marcado mi vida.
    </h2>
    <h2> ¿Por qué este blog?
Este espacio nació del deseo de compartir mis lecturas y pensamientos con otros amantes de los libros. Aquí encontrarás reseñas sinceras, análisis profundos y recomendaciones personalizadas que espero te inspiren a descubrir nuevas lecturas y a sumergirte en el fascinante mundo de la literatura. Y mi objetivo es crear una comunidad de lectores apasionados donde podamos compartir nuestras experiencias literarias, debatir sobre nuestras lecturas y, sobre todo, disfrutar del placer de leer. ¡Te invito a unirte a este viaje literario y a compartir tus propias recomendaciones y opiniones! </h2>
{% endblock %}
